@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <main>
        <div class="exam timetable">
            <h2>Exam Available</h2>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Subject</th>
                        <th>Room no.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>26 Nov 2022</td>
                        <td>09-12 AM</td>
                        <td>CAP283</td>
                        <td>38-718</td>
                    </tr>
                    <tr>
                        <td>28 Nov 2022</td>
                        <td>09-12 AM</td>
                        <td>CAP282</td>
                        <td>38-718</td>
                    </tr>
                    <tr>
                        <td>02 Dec 2022</td>
                        <td>09-12 AM</td>
                        <td>CAP267</td>
                        <td>34-509</td>
                    </tr>
                    <tr>
                        <td>06 Dec 2022</td>
                        <td>09-12 AM</td>
                        <td>CAP213</td>
                        <td>34-509</td>
                    </tr>
                    <tr>
                        <td>12 Dec 2022</td>
                        <td>09-12 AM</td>
                        <td>CAP214</td>
                        <td>34-509</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
 
