
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="change-password-container">
    <form action="">
        <h2>Create new password</h2>
        <p class="text-muted">Your new password must be different from previous used passwords.</p>
        <div class="box">
            <p class="text-muted">Current Password</p>
            <input type="password" id="currentpass">
        </div>
        <div class="box">
            <p class="text-muted">New Password</p>
            <input type="password" id="newpass">
        </div>
        <div class="box">
            <p class="text-muted">Confirm Password</p>
            <input type="password" id="confirmpass">
        </div>
        <div class="button">
            <input type="submit" value="Save" class="btn">
            <a href="index.html" class="text-muted">Cancel</a>
        </div>
        <a href="#"><p>Forget password?</p></a>
    </form>
</div>

